<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kitap Ekle | YTÜ Maçka MTAL - Kütüphane</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../static/img/school-logo.jpeg"
      type="image/x-icon"
    />
    <link rel="school-logo" href="../static/img/school-logo.jpeg" />
    <link
      href="{{url_for('static',filename='css/main.css')}}"
      rel="stylesheet"
    />
  </head>
  <body class="flex justify-center items-center text-center flex-col">
    {% for message in get_flashed_messages() %}
    <div
      class="flex p-16 text-2xl text-yellow-800 border border-yellow-300 rounded-2xl bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800 mt-[3%]"
      role="alert"
    >
      <span class="sr-only">Info</span>
      <div>{{message}}</div>
    </div>

    {% endfor %}

    <div
      class="flex justify-center items-center text-center md:w-[50%] w-full h-full mt-[5%] mb-[10%]"
    >
      <div
        class="w-[90%] bg-green-300 flex justify-center items-center text-center rounded-[100px] md:pt-[5%] pt-[10%] pb-[5%] flex-col"
      >
        <section class="pb-[3%]">
          <p
            class="font-[550] font-mono md:text-4xl text-3xl antialiased bg-clip-text bg-gradient-to-r to-[#BF9270] from-[#AD8B73] text-transparent"
          >
            Kitap Ekle
          </p>
          <a
            href="/home"
            style="
              padding-right: 10px;
              color: gray;
              text-decoration: none;
              font-size: medium;
            "
            ><- Anasayfa</a
          >
        </section>
        <section>
          <form action="" method="post" enctype="multipart/form-data">
            <article class="pb-[7%]">
              <p class="text-white antialiased text-2xl font-serif italic">
                Tür Seç:
              </p>
              <select
                class="w-auto m-m:min-w-[80%] max-w-[90%] rounded-full text-center"
                name="category"
              >
                <option value="default" selected>Tür Seç</option>
                <option value="Türk Edebiyatında Roman">
                  Türk Edebiyatında Roman
                </option>
                <option value="Dünya Edebiyatında Roman">
                  Dünya Edebiyatında Roman
                </option>
                <option value="Hikaye">Hikaye</option>
                <option value="Şiir">Şiir</option>
                <option value="Tiyatro">Tiyatro</option>
                <option value="Düzyazı">Düzyazı</option>
                <option value="Tarih">Tarih</option>
                <option value="Atatürk Kitapları">Atatürk Kitapları</option>
                <option value="İngilizce Kitaplar">İngilizce Kitaplar</option>
                <option value="Kişisel Gelişim">Kişisel Gelişim</option>
              </select>
            </article>
            <article class="pb-[7%]">
              <p class="text-white antialiased text-2xl font-serif italic">
                Kitap Kodu:
              </p>
              <input
                id="book-code"
                class="w-auto m-m:min-w-[70%] max-w-[80%] rounded-full text-center"
                type="text"
                name="bookCode"
              />
            </article>
            <article class="pb-[7%]">
              <p class="text-white antialiased text-2xl font-serif italic">
                Kitap Adı:
              </p>
              <input
                id="book-name"
                class="w-auto m-m:min-w-[60%] max-w-[80%] rounded-full text-center"
                type="text"
                name="bookName"
              />
            </article>
            <article class="pb-[7%]" id="add">
              <p class="text-white antialiased text-2xl font-serif italic">
                Yazar:
              </p>
              <input
                class="w-auto m-m:min-w-[50%] max-w-[80%] rounded-full text-center"
                type="text"
                name="writer"
              />
            </article>
            <article class="pb-[7%]">
              <p
                class="text-white antialiased w-[90%] text-2xl font-serif italic"
              >
                Syf Sayısı:
              </p>
              <input
                class="w-auto m-m:min-w-[60%] max-w-[80%] rounded-full text-center"
                type="number"
                name="page"
              />
            </article>
            <article class="pb-[10%]">
              <p class="text-white antialiased text-2xl font-serif italic">
                Yayınevi:
              </p>
              <input
                class="w-auto m-m:min-w-[70%] max-w-[80%] rounded-full text-center"
                type="text"
                name="publisher"
              />
            </article>
            <article>
              <input
                class="pt-[3%] pb-[3%] w-[55%] bg-[#BF9270] text-white antialiased rounded-full"
                type="submit"
                value="Kitabı Ekle"
                name="btn"
              />
            </article>

            <article class="mt-4 mb-4 ml-24">
              <input
                type="file"
                name="ImportExcel"
                title="Select File"
                id="importData"
                accept=".xls,.xlsx"
              />
            </article>
            <article class="m-m:mb-0 mb-6">
              <input
                class="pt-[3%] pb-[3%] w-[55%] bg-[#BF9270] text-white antialiased rounded-full"
                type="submit"
                value="Exceli Ekle"
                name="btn"
              />
            </article>
          </form>
        </section>
      </div>
    </div>
  </body>
</html>
