<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kitap Ekle | YTÜ Maçka MTAL - Kütüphane</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../static/img/restaurant/apple-touch-icon.png"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      href="../static/img/restaurant/apple-touch-icon.png"
    />
    <link
      href="{{url_for('static',filename='css/main.css')}}"
      rel="stylesheet"
    />
  </head>
  <body class="flex justify-center items-center text-center flex-row">
    <div
      class="flex justify-center items-center text-center w-[50%] h-full min-h-[850px]"
    >
      aefıi
    </div>
    <div
      class="flex justify-center items-center text-center w-[50%] h-full min-h-[850px]"
    >
      ıhfdvsb
    </div>
  </body>
</html>
