<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kitap Ekle | YTÜ Maçka MTAL - Kütüphane</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../static/img/restaurant/apple-touch-icon.png"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      href="../static/img/restaurant/apple-touch-icon.png"
    />
    <link
      href="{{url_for('static',filename='css/main.css')}}"
      rel="stylesheet"
    />
  </head>
  <body class="flex justify-center items-center text-center flex-row">
    <div
      class="flex justify-center items-center text-center w-[50%] h-full min-h-[850px]"
    >
      <div
        class="w-[90%] bg-green-300 flex justify-center items-center text-center rounded-[100px] pt-[5%] pb-[5%] flex-col"
      >
        <section class="pb-[3%]">
          <p class="font-[550] font-mono text-4xl antialiased text-white">
            Kitap Ekle
          </p>
        </section>
        <section>
          <form action="#">
            <article class="pb-[7%]">
              <p class="text-white antialiased text-2xl font-serif italic">
                Tür Seç:
              </p>
              <select
                class="w-[100%] rounded-full pl-[2%] mt-[2%] pr-[3%] flex text-center"
              >
                <option value="default" selected>Tür Seç</option>
                <option value="Turkish_novel">Türk Edebiyatında Roman</option>
                <option value="world_novel">Dünya Edebiyatında Roman</option>
                <option value="story">Hikaye</option>
                <option value="poem">Şiir</option>
                <option value="theatre">Tiyatro</option>
                <option value="prose">Düzyazı</option>
                <option value="historical">Tarih</option>
                <option value="Ataturks_books">Atatürk Kitapları</option>
                <option value="english_books">İngilizce Kitaplar</option>
                <option value="self_improvement">Kişisel Gelişim</option>
              </select>
            </article>
            <article class="pb-[7%]">
              <p class="text-white antialiased text-2xl font-serif italic">
                Kitap Adı:
              </p>
              <input
                class="w-[90%] rounded-full pl-[5%] pr-[5%] mt-[2%] text-center"
                type="text"
              />
            </article>
            <article class="pb-[7%]">
              <p class="text-white antialiased text-2xl font-serif italic">
                Yazar:
              </p>
              <input
                class="w-[90%] rounded-full pl-[5%] pr-[5%] mt-[2%] text-center"
                type="text"
              />
            </article>
            <article class="pb-[7%]">
              <p
                class="text-white antialiased w-[90%] text-2xl font-serif italic"
              >
                Sayfa Sayısı:
              </p>
              <input
                class="text-center w-[90%] rounded-full pl-[5%] pr-[5%] mt-[2%]"
                type="number"
              />
            </article>
            <article class="pb-[10%]">
              <p class="text-white antialiased text-2xl font-serif italic">
                Yayınevi:
              </p>
              <input
                class="w-[90%] rounded-full pl-[5%] pr-[5%] mt-[2%] text-center"
                type="text"
              />
            </article>
            <article>
              <button
                class="pt-[3%] pb-[3%] w-[50%] bg-[#BF9270] text-white antialiased rounded-full"
              >
                Ekle
              </button>
            </article>
          </form>
        </section>
      </div>
      <!--  Yayınevi -->
    </div>
    <div
      class="flex justify-center items-center text-center w-[50%] h-full min-h-[850px]"
    >
      ıhfdvsb
    </div>
  </body>
</html>
