<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Üye Ekle | YTÜ Maçka MTAL - Kütüphane</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template" />
    <meta name="author" content="okler.net" />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../static/img/school-logo.jpeg"
      type="image/x-icon"
    />
    <link rel="school-logo" href="../static/img/school-logo.jpeg" />

    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no"
    />

    <!-- Web Fonts  -->
    <link
      id="googleFonts"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLora:400,500,700&display=swap"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/all.min.css" />
    <link rel="stylesheet" href="../static/css/animate.compat.css" />
    <link rel="stylesheet" href="../static/css/simple-line-icons.min.css" />
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="../static/css/magnific-popup.min.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="../static/css/theme.css" />
    <link rel="stylesheet" href="../static/css/theme-elements.css" />
    <link rel="stylesheet" href="../static/css/theme-blog.css" />
    <link rel="stylesheet" href="../static/css/theme-shop.css" />

    <!-- Demo CSS -->
    <link rel="stylesheet" href="../static/css/demo-restaurant.css" />

    <!-- Skin CSS -->
    <link
      id="skinCSS"
      rel="stylesheet"
      href="../static/css/skin-restaurant.css"
    />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="../static/css/custom.css" />

    <link href="../static/css/all.min.css" rel="stylesheet" type="text/css" />

    <!-- General Custom CSS -->
    <link rel="stylesheet" href="../static/css/style.css" />

    <!-- Dropdown -->

    <!-- Head Libs -->
    <script src="../static/js/modernizr.min.js"></script>
  </head>
  <body>
    <div style="margin-left: 180px; margin-top: 40px">
      <a
        href="/home"
        style="font-size: large; text-decoration: none; color: black"
        ><- Anasayfa</a
      >
    </div>
    {% for message in get_flashed_messages() %}
    <div
      class="flex p-8 text-sm text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800 mt-4"
      role="alert"
    >
      <span class="sr-only">Info</span>
      <div>{{message}}</div>
    </div>
    {% endfor %}
    <form action="" method="post" name="form1">
      <div class="container py-5 my-5" id="books">
        <div class="row justify-content-center mb-5">
          <div class="col-lg-10 text-center">
            <h3
              class="text-color-dark text-transform-none text-9 line-height-3 font-weight-medium mb-4"
            >
              Üye Ekle
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-4 mb-lg-0">
            <section>
              <h4
                style="color: #bc9b63"
                class="font-weight-bold positive-ls-3 mb-3"
              >
                Adı:
              </h4>
              <hr
                class="custom-divider-size-1 bg-color-grey-scale-2 mt-2 mb-4"
              />
              <div class="member-div">
                <input class="member-inp" type="text" name="memberName" id="" />
              </div>
            </section>

            <section style="margin-top: 30px">
              <h4
                style="color: #bc9b63"
                class="font-weight-bold positive-ls-3 mb-3"
              >
                Sınıfı:
              </h4>
              <hr
                class="custom-divider-size-1 bg-color-grey-scale-2 mt-2 mb-4"
              />
              <div class="member-div">
                <input class="member-inp" type="text" name="classroom" id="" />
              </div>
            </section>
          </div>

          <div class="col-lg-6 mb-4 mb-lg-0">
            <section>
              <h4
                style="color: #bc9b63"
                class="font-weight-bold positive-ls-3 mb-3"
              >
                Soyadı:
              </h4>
              <hr
                class="custom-divider-size-1 bg-color-grey-scale-2 mt-2 mb-4"
              />
              <div class="member-div">
                <input
                  class="member-inp"
                  type="text"
                  name="memberSurname"
                  id=""
                />
              </div>
            </section>

            <section style="margin-top: 30px">
              <h4
                style="color: #bc9b63"
                class="font-weight-bold positive-ls-3 mb-3"
              >
                Numarası:
              </h4>
              <hr
                class="custom-divider-size-1 bg-color-grey-scale-2 mt-2 mb-4"
              />
              <div class="member-div">
                <input
                  class="member-inp"
                  type="number"
                  name="memberNumber"
                  id=""
                />
              </div>
            </section>
          </div>
        </div>
        <div class="row pt-2" style="margin-top: 60px">
          <div class="col text-center">
            <input
              type="submit"
              value="Üye Ekle"
              name="btn"
              class="btn btn-dark custom-btn-style-1 font-weight-medium text-3 btn-px-5 py-3"
            />
          </div>
        </div>
      </div>
    </form>
    <hr style="border: 1px black dashed" />

    <div style="margin-top: 30px">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-10 text-center">
          <h3
            class="text-color-dark text-transform-none text-9 line-height-3 font-weight-medium mb-4"
          >
            Var Olan Üyeler
          </h3>
        </div>
      </div>

      <main style="display: flex; flex-direction: column; margin-bottom: 50px">
        <div
          style="
            width: 90%;
            margin: 0 auto;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding-top: 40px;
            display: flex;
            flex-direction: row;
          "
        >
          <article style="width: 100%">
            <div>
              <h4
                style="color: #bc9b63"
                class="font-weight-bold positive-ls-3 mb-3"
              >
                Ad
              </h4>
              <hr style="color: #bc9b63; border: solid 1px" />
            </div>
          </article>

          <article style="width: 100%">
            <div>
              <h4
                style="color: #bc9b63"
                class="font-weight-bold positive-ls-3 mb-3"
              >
                Soyad
              </h4>
              <hr style="color: #bc9b63; border: solid 1px" />
            </div>
          </article>

          <article style="width: 100%">
            <div>
              <h4
                style="color: #bc9b63"
                class="font-weight-bold positive-ls-3 mb-3"
              >
                Sınıf
              </h4>
              <hr style="color: #bc9b63; border: solid 1px" />
            </div>
          </article>

          <article style="width: 100%">
            <div>
              <h4
                style="color: #bc9b63"
                class="font-weight-bold positive-ls-3 mb-3"
              >
                Numara
              </h4>
              <hr style="color: #bc9b63; border: solid 1px" />
            </div>
          </article>
        </div>

        <!-- books -->
        {% for member in members %}
        <div
          style="
            width: 90%;
            margin: 0 auto;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
            display: flex;
            flex-direction: row;
          "
        >
          <article style="width: 60%; margin-right: 50px">
            <div>
              <h4 style="word-break: break-all">{{member.name}}</h4>
            </div>
          </article>

          <article style="width: 60%; margin-right: 50px">
            <div>
              <h4 style="word-break: break-all">{{member.surname}}</h4>
            </div>
          </article>

          <article style="width: 60%; margin-right: 50px">
            <div>
              <h4 style="word-break: break-all">{{member.classroom}}</h4>
            </div>
          </article>

          <article style="width: 60%; margin-right: 50px">
            <div>
              <h4 style="word-break: break-all">{{member.no}}</h4>
            </div>
          </article>
          <article style="width: 60%; margin-right: 20px">
            <form action="" method="post" name="form2">
              <div>
                <button
                  type="submit"
                  value="{{member.no}}"
                  name="Sil"
                  style="
                    min-width: 120px;
                    border-radius: 10%;
                    border: 1px solid transparent;
                    background-color: #bc9b63;
                    color: white;
                  "
                >
                  Sil
                </button>
              </div>
            </form>
          </article>
        </div>
        {% endfor %}
      </main>
    </div>
  </body>
</html>
