<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YTÜ Maçka MTAL - Kütüphane</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../static/img/restaurant/apple-touch-icon.png"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      href="../static/img/restaurant/apple-touch-icon.png"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />

    <style>
      #inputs {
        margin: 5% 40%;
      }
    </style>
  </head>
  <body>
    {% for message in get_flashed_messages() %}
    <div
      class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
      role="alert"
    >
      {{ message }}
    </div>
    {% endfor %}

    <form action="greet" method="post" id="inputs">
      <p>Username</p>
      <input type="text" name="username" class="border border-gray-300" />
      <br />
      <p>Password</p>
      <input type="text" name="password" class="border border-gray-300" />
      <br />
      <br />
      <input type="submit" value="Ok" />
    </form>
  </body>
</html>

<!-- {% for message in get_flashed_messages() %}
      <p>{{message}}</p>
      {% endfor %} -->
