<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Giriş Yap | YTÜ Maçka MTAL - Kütüphane</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../static/img/restaurant/apple-touch-icon.png"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      href="../static/img/restaurant/apple-touch-icon.png"
    />
    <link
      href="{{url_for('static',filename='css/main.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="justify-center items-center text-center flex pt-[55%] md:pt-[20%] lg:pt-[15%] flex-col-reverse"
    >
      <div
        class="bg-green-300 justify-center items-center rounded-3xl flex flex-col p-[3%] min-w-[30%]"
      >
        <p
          class="font-[550] md:text-4xl text-3xl antialiased bg-clip-text bg-gradient-to-r to-[#BF9270] from-[#AD8B73] text-transparent mb-[8%]"
        >
          Giriş Yap
        </p>
        <form action="" method="post" id="inputs">
          <div class="mb-[6%]">
            <p class="text-white antialiased text-2xl mb-[2%]">Kullanıcı Adı</p>
            <input
              type="text"
              name="username"
              class="border rounded-full border-gray-300 text-center pl-2 pr-2"
            />
          </div>
          <div class="mb-[10%]">
            <p class="text-white antialiased text-2xl mb-[2%]">Şifre</p>
            <input
              type="text"
              name="password"
              class="border rounded-full border-gray-300 pl-2 pr-2 text-center"
            />
          </div>
          <div>
            <input
              class="pt-[3%] pb-[3%] w-[55%] bg-[#BF9270] text-white antialiased rounded-full"
              type="submit"
              value="Ok"
            />
          </div>
        </form>
      </div>

      {% for message in get_flashed_messages() %}
      <div
        class="flex p-8 text-sm text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800 absolute"
        role="alert"
      >
        <span class="sr-only">Info</span>
        <div><span class="font-medium">Uyarı!</span> {{message}}</div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>

<!-- {% for message in get_flashed_messages() %}
      <p>{{message}}</p>
      {% endfor %} -->
